body {
    font-family: italic;
    margin: 0;
    background-color: var(--bg-color);
}

:root {
    --color: black;
    --bg-color: beige;
    --border-color: black;
}

h1 {
    color: var(--color)
}

h2 {
    color: var(--color)

}

p {
    color: var(--color)
}



container {
    display: flex;
    width: 100%;
    flex-flow: column;
}

header {
    background-color: rgb(89, 72, 105);
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100px;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--bg-color);
    padding: 0 10px;
}


.question-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    margin-bottom: 50px;


}

.question-card .bookmark {

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 36px;
    width: 36px;

    position: absolute;
    right: 25px;
    top: -9px;
}




tags {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px;


}

tag {
    background-color: rgb(101, 82, 52);

    border-radius: 5px;
    padding: 5px 10px;
}

button {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 36px;
    background-color: rgb(122, 65, 102);
    color: white;
    border-radius: 5px;
    padding: 0 10px;

}





.link {
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    font-size: 40px;


}




.tags {
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.tag-1 {
    border: 1px solid black;

}

.footer {

    position: fixed;
    bottom: 0;
    background-color: rgb(210, 197, 221);

    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.footer a {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

footer a:hover {
    background-color: white;
}

footer img {
    height: 100px;
    width: 55px;
}

.image-bookamrk {
    width: 15px;
    height: 15px;
}



.hidden {
    display: none;
}