body {
     font-family: italic;
     margin: 0;
}

container {
    display: flex;
    width:1 100%;
    flex-flow: column;
}

header {
    background-color: rgb(163, 119, 205);
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    


}
main{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: beige;
    padding: 0 10px;
}


.question-card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    position: relative;


}




tags {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px;

    
}
tag {
    background-color: rgb(101, 82, 52);
    
      border-radius: 5px;
      padding: 5px 10px;
}
button {
    border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 36px;
  background-color: rgb(122, 65, 102);
  color: white;
  border-radius: 5px;
  padding: 0 10px;

}



.nav {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.link {
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    font-size: 40px;
    

}




.tags {
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.tag-1 {
    border: 1px solid black;

}


